.logo-swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-box {
  width: 120px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.logo-box img:hover {
  transform: scale(1.1);
}